<div class="main d-flex wrap">
    <div class="card" *ngFor="let user of users">
        <div class="info">
            <div class="main_info">
                <h4>        
                    <a routerLink="{{user.id}}" class="link-color">{{user.name}}</a>             
                </h4>
                <div class="username">
                    <label>Username:</label> <span>{{user.username}}</span>
                </div>
                <div class="company">
                    <label>Company:</label> <span>{{user.company.name}}</span>
                </div>
                <div class="address">
                    <label>Location:</label> 
                    <span>{{user.address.city}}</span>
                    <span>{{user.address.street}}</span>
                    <span>{{user.address.suite}}</span>
                </div>
                <div class="d-flex wrap phone_email">
                    <div class="phone d-flex">
                        <img src="/assets/icons/phone.svg"> <span>{{user.phone}}</span>
                    </div>
                    <div class="email d-flex link-color">
                        <img src="/assets/icons/email.svg"> <span>{{user.email}}</span>
                    </div>
                </div>
                
            </div>
    
        </div>
    </div>
</div>




