.main {
    justify-content: space-evenly;
}
.card {
    .main_info {
        font-size: 12px;
        img {
            width:15px
        }

        a {
            font-size: 16px;
            text-decoration:none;
        }

        .username, .address,.company {
            margin-top: 6px;
            label{
                color: rgba(0,0,0,.87);
            }
            span {
                margin-left: 5px;
                font-weight: 500;
            }
          
        }

        .phone_email span{    
            margin-left:4px;
        }

        .email::before, .address span:nth-last-child(-n+2)::before {
            content: "";
            width: 1px;
            height: 13px;
            background-color: #ddd;
            margin: 0 8px;
            display: inline-block;
            position: relative;
            left: -1px;
            top: 2px;   
        }

        >div {
            margin-top: 5px;
        }
    }

}

@media (min-width: 567px) {
    .card {
      width:30%;
    }
}

@media (min-width: 768px) {
    .card {
      width:38%;
    }
}